
   div{
    display: table-row-group table-column-group;
    float: initial;
    color: chartreuse;
    font-size:50px;
  }
  
  .one{
    width:500px;
    height:100px;
    background:red;
  }
  
  .two{
      width:500px;
    height:100px;
    background: purple;
  }
  
  .three{
      width:500px;
background: darkgoldenrod;
     height:100px;
  }
  
  .four{
    width:500px;
    height:100px;
  background:darkblue;
  }
  .five{
    width:500px;
    height:100px;
  background: crimson;
  }
  